body {
    background: url(../../assets/images/cool-background.png);
    background-repeat: no-repeat;
    background-size: cover; 

}


#navbar {
    color:#f6f9fa;
    font-family: 'Shadows Into Light', cursive;
    padding:1%;
    font-size: 24pt; 
    background: url(../../assets/images/cool-background.png);
    background-size: cover; 
    
    

}

h2 {
    font-family: 'Shadows Into Light', cursive;
    color:#17a2b8;
}

#header {
    border-bottom: 2px solid #bbbbbb;
}

img{
    float:left; 
    margin: 15px;
}

p {
    margin: 10px ;
}

@media screen and (max-width: 700px) {
    #navbar {margin: 0 auto;}
    #navbarLinks {align-content: center;}
}